# Работа с Excel

## Лабораторная работа 7.1

In [11]:
import pandas as pd
import xlwings as xw
import csv
import numpy as np

1. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample.csv` (__ЛР5__) в виде `pd.DataFrame`. Обратите внимание на корректное считывание столбца(ов) с индексами. Оставьте в таблице с рецептами следующие столбцы: `id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`

In [2]:
reviews = pd.read_csv('reviews_sample.csv')
recipes = pd.read_csv('recipes_sample.csv')[['id', 'name', 'minutes', 'submitted', 'description', 'n_ingredients']]

reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

2. Случайным образом выберите 5% строк из каждой таблицы и сохраните две таблицы на разные листы в один файл `recipes.xlsx`. Дайте листам названия "Рецепты" и "Отзывы", соответствующие содержанию таблиц.

In [4]:
s1 = reviews.sample(int(reviews.shape[0] * 0.05))
s1

,Unnamed: 0,user_id,recipe_id,date,rating,review
994,1088239,83917,15413,2007-09-10,4,very easy to make and my grandson loved them.
36951,1106516,273313,273071,2009-12-06,5,"So easy, yet very, very good. I will make thi..."
119038,1086040,667712,95569,2008-01-15,5,This is a wonderful (lowfat) recipe to have on...
34851,305120,37779,95376,2007-03-18,0,We must be the odd ones out with this recipe. ...
58993,315964,381180,458164,2012-08-29,5,I enjoyed this very much! Love quiche any tim...
...,...,...,...,...,...,...
27826,1008907,939796,139248,2009-01-05,3,"It was good, but there was too much butter for..."
13840,1064905,2001240396,126997,2016-11-10,5,Easy and tasty. Used Caputo 00 Chefs flour. 3 ...
14487,62405,484901,95756,2010-07-24,5,This was the first time we made pizza on the g...
3173,773075,60992,96127,2008-01-03,4,I really liked this idea. The flavor is a five...
60452,838226,2001093314,292770,2016-07-18,5,My co-workers at the hotel are largely from El...

In [19]:
s2 = recipes.sample(int(recipes.shape[0] * 0.05))
s2

,id,name,minutes,submitted,description,n_ingredients
29496,362897,wok style liver,60,2009-03-26,today i wanted to give an oriental touch to my...,11.0
27524,347358,the ultimate summer sandwich,20,2009-01-06,this has to be the best summer sarnie ever wit...,NaN
15491,317656,korean barbecue beef,75,2008-08-05,another recipe from my teen years spent in haw...,8.0
18575,344710,neely s glazed sweet potatoes,55,2008-12-22,from the neely's thanksgiving episode....mmmmm...,NaN
18797,96346,noodles and tomatoes,13,2004-07-24,my grandmother started making this dish for us...,5.0
...,...,...,...,...,...,...
22001,85103,quick veggie cheese chowder,25,2004-02-26,i've modified this recipe from one in better h...,11.0
14172,55489,hot chicken pepe,85,2003-03-03,"very yummy, cheesy tex-mex chicken casserole.",11.0
1168,241667,artichoke stuffed manicotti weight watchers,55,2007-07-21,this is from a 2004 weight watchers magazine. ...,NaN
1164,303605,artichoke salad with oranges,50,2008-05-14,african recipe found on world recipes.com's we...,8.0
29519,244245,wonderful vegan brownies,40,2007-08-03,after tasting these at a small get together th...,NaN

In [20]:
with pd.ExcelWriter('recipes.xlsx') as writer:
    s1.to_excel(writer, 'Отзывы')
    s2.to_excel(writer, 'Рецепты')

3. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_assign`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи присваивания массива значений диапазону ячеек.

In [21]:
wb = xw.Book('recipes.xlsx')
sht = wb.sheets['Рецепты']
sht.range('H1').value = 'seconds_assign'
sht.range('H2').options(transpose = True).value = [i * 60 for i in s2['minutes']]

4. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_formula`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи формул Excel.

In [22]:
sht.range('I1').value = 'seconds_formula'
fml = sht.range('I2').formula = '=D2*60'
sht.range('I2:I1501').formula = fml

5. Сделайте названия всех добавленных столбцов полужирными и выровняйте по центру ячейки.

In [24]:
import openpyxl.styles
recipes_sh = wb.sheets['Рецепты']
recipes_sh.range('H1:I1').api.Font.Bold = True
recipes_sh.range('H1:I1').api.HorizontalAlignment = xw.constants.HAlign.xlHAlignCenter

6. Раскрасьте ячейки столбца `minutes` в соответствии со следующим правилом: если рецепт выполняется быстрее 5 минут, то цвет - зеленый; от 5 до 10 минут - жёлтый; и больше 10 - красный.

In [26]:
for i in range(2, 1502):
    if sht.range(f'D{i}').value < 5:
        sht.range(f'D{i}').color = (0, 128, 0)
    elif 5 <= sht.range(f'D{i}').value <= 10:
        sht.range(f'D{i}').color = (255, 255, 0)
    else:
        sht.range(f'D{i}').color = (255, 0, 0)

7. Добавьте на лист `Рецепты`  столбец `n_reviews`, содержащий кол-во отзывов для этого рецепта. Выполните задание при помощи формул Excel.

In [27]:
sht.range('J1').value = 'n_reviews'
fml = sht.range('J2').formula = '=COUNTIF(Отзывы!D1:D6335, B2)'
sht.range('J2:J1501').formula = fml

## Лабораторная работа 7.2

8. Напишите функцию `validate()`, которая проверяет соответствие всех строк из листа `Отзывы` следующим правилам:
    * Рейтинг - это число от 0 до 5 включительно
    * Соответствующий рецепт имеется на листе `Рецепты`
    
В случае несоответствия этим правилам, выделите строку красным цветом

In [29]:
def validate():
    wb = xw.Book('recipes.xlsx')
    sht = wb.sheets['Отзывы']
    for i in range(2, 6336):
        if sht.range(f'F{i}').value < 0 or sht.range(f'F{i}').value > 5 or sht.range(f'D{i}').value not in wb.sheets['Рецепты'].range('B2:B1501').value:
            sht.range(f'A{i}:Z{i}').color = (255, 0, 0)
validate()

9. В файле `recipes_model.csv` находится модель данных предметной области "рецепты". При помощи пакета `csv` считайте эти данные. При помощи пакета `xlwings` запишите данные на лист `Модель` книги `recipes_model.xlsx`, начиная с ячейки `A2`, не используя циклы. Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [30]:
import csv
with open('recipes_model.csv','r') as f:
    rec_mod = csv.reader(f, delimiter = '\t')
    rec_data = list(rec_mod)
model = xw.Book()
model_sheet = model.sheets.add('Модель')
model_sheet.range('A2').value = rec_data
model.save('recipes_model1.xlsx')
model.close()

10. При помощи пакета `xlwings` добавьте в столбец J формулу для описания столбца на языке SQL. Формула должна реализовывать следующую логику:

    1\. в начале строки идут значения из столбцов В и C (значение столбца С приведено к верхнему регистру), разделенные пробелом
    
    2\. далее идут слова на основе столбца "Ключ"
        2.1 если в столбце "Ключ" указано значение "PK", то дальше через пробел идет ключевое слово "PRIMARY KEY"
        2.2 если в столбце "Ключ" указано значение "FK", то дальше через пробел идет ключевое слово "REFERENCES", затем значения столбцов H и I в формате "название_таблицы(название_столбца)"
        
    3\. если в столбце "Обязательно к заполнению" указано значение "Y" и в столбце "Ключ" указано не "PK", то дальше через пробел идет ключевое слово "NOT NULL".

Заполните этой формулой необходимое количество строк, используя "протягивание". Количество строк для протягивания определите на основе данных.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

11. При помощи пакета `xlwings` измените стилизацию листа `Модель`.
* для заголовков добавьте заливку цвета `00ccff`
* примените автоподбор ширины столбца;
* сделайте шрифт заголовков полужирным;
* добавьте таблице автофильтр.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

12. Посчитайте количество атрибутов для каждой из сущностей. Создайте лист `Статистика` и запишите в него результат группировки, начиная с ячейки "А1". Визуализируйте полученный результат при помощи столбчатой диаграммы. Сохраните полученную визуализацию на лист `Статистика`, начиная с ячейки "E2".  Сделайте скриншот листа `Статистика` и прикрепите в ячейку ноутбука.

* Вы можете воспользоваться методами для визуализации, которые поставляются вместе с объектами `pandas` (см. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot)